.auth-form {
	display: flex;
	flex-direction: column;

	margin: auto;
	width: $modal-width;
	padding: 5rem 4rem;
	gap: 2rem;

	border-radius: $modal-border-radius;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: $bg-color-modal;

	text-align: center;

	h1,
	label,
	a {
		font-weight: 600;
	}

	p {
		color: #00000080;
		font-weight: 100;
	}

	a,
	button {
		color: $primary-color;

		&:hover {
			opacity: 0.7;
		}
	}

	button {
		color: $primary-color;
	}

	input {
		border: none;
		border-width: none;
		border-radius: 0;
		border-bottom: 2px solid rgb(229, 231, 235);
		box-shadow: none;
		font-size: 1.25rem;

		&:focus {
			box-shadow: none;
			border-bottom: 2px solid rgb(229, 231, 235);
		}
	}

	.floating-label {
		color: rgb(156 163 175);
		display: flex;
		align-items: center;
		column-gap: 1rem;
	}

	.forget-password {
		position: relative;
		color: black;
		display: flex;
		bottom: 2rem;
		justify-content: left;
	}

	.sub-checkbox {
		display: flex;
		column-gap: 1rem;

		&:hover {
			opacity: 0.7;
		}
	}

	.password-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		input {
			flex: 10;
			width: 150%;
			-webkit-text-security: none;
		}

		.password-reveal {
			z-index: 2;
			background-color: transparent;
			font-weight: 700;
		}
	}

	.form-link {
		&:hover {
			opacity: 0.7;
		}
	}

	.form-submit {
		margin: auto;
		width: 20rem;
		height: 4rem;
		@include btn-colorful; // Made mixin for the color because i want to use it also 
		border-radius: 2em;
		font-weight: 700;
		font-size: rem(16px);
		color: $txt-color;

		&:hover {
			opacity: 0.8;
		}
	}
}

.login-btn {
	width: 160px;
	height: 45px;
	border-radius: 2em;
	font-weight: 700;
	font-size: rem(16px);
	background-image: linear-gradient(to right,
			$primary-color,
			$secondary-color);
	color: $txt-color;

	@media (hover: hover) {
		&:hover {
			background-image: linear-gradient(to right,
					lighten($primary-color, 8%),
					lighten($secondary-color, 8%));
		}
	}
}