.remove-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 200;
    padding: 36px !important;
    width: 540px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .modal-header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;

        h1 {
            font-size: rem(22px);
            font-weight: 800;
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: 12px;

        button {
            width: 110px;
            height: 50px;
            font-weight: 800;

            &.cancel-btn {
                background-color: $link-color;
                color: $txt-color;
            }

            &.remove-btn {
                color: $primary-color;
                border: 2px solid $gray-color;
            }
        }
    }

    .close-modal-btn {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    @include for-narrow-layout {
        width: 95%;
    }

    @include for-mobile-layout {
        padding-inline: 16px !important;
        padding-block: 24px !important;
        height: 180px;

        .actions {
            justify-content: space-between;

            button {
                width: 45%;
            }
        }
    }

}

.black-screen {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.493);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
}