.resume-builder {
    flex-basis: 50%;
    background-color: white;
    padding-inline: 48px;
    height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    .resume-header {
        z-index: 50;
        height: 120px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-block-end: 24px;
        padding-inline: 48px;
        position: sticky;
        top: 0px;
        background-color: white;

        .header-nav {
            display: flex;
            gap: 24px;
            align-items: center;

            .home {
                a {

                    span {
                        height: 36px;

                        svg {
                            fill: $primary-color;
                        }
                    }
                }
            }

            >*:not(.logo) {
                display: flex;
                flex-direction: column;
                align-items: center;

                a,
                .download-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        font-weight: 800;
                        font-size: rem(18px);
                        letter-spacing: 2px;
                        color: $primary-color;
                        text-transform: uppercase;
                    }


                    &.router-link-exact-active {
                        p {
                            box-shadow: 0px 2px 0px 0px $primary-color;
                            line-height: 2;
                        }


                    }

                }
            }
        }

        .download {
            display: flex;
            align-items: center;
            background-image: linear-gradient(to right, $link-color, darken($link-color, 6%));
            height: 50px;
            padding-inline: 10px;
            cursor: pointer;

            .download-btn {
                display: flex;
                gap: 8px;
                align-items: center;

                p {
                    color: $txt-color;
                    font-weight: 800;
                    padding-inline-end: 6px;
                }

                span {
                    svg {
                        fill: $txt-color;
                    }
                }
            }

            @include hover {
                box-shadow: 3px 3px white, 5px 5px $link-color;
            }
        }


    }

    .progress-bar-container {
        padding-inline: 48px;

        .progress-bar {
            width: 100%;
            height: 3px;
            background-color: rgba(39, 39, 39, 0.23);

            .inner {
                height: 3px;
                width: 50%;
                transition: all 0.5s linear;
            }
        }

        p {
            color: rgb(130, 139, 162);
            padding: 12px 0;

            .percent {
                color: red;
                font-weight: 600;
                margin-inline-end: 6px;
            }
        }
    }

    .resume-main-title {
        padding-inline: 48px;
        width: fit-content;

        .title-content {
            font-size: rem(20px);
            font-weight: 800;
            color: $link-color;

            &:focus {
                outline: none;


            }


        }

        .line {
            border-bottom: solid 2px $link-color;
            border-top-width: 0px;
            opacity: 0;
            margin-block: 4px;

            @keyframes line_animation {
                from {
                    width: 0%;
                }

                to {
                    width: 100%;
                }
            }
        }

        &.editing {
            .line {
                animation-name: line_animation;
                animation-duration: .2s;
                animation-timing-function: linear;
                opacity: 1;
            }
        }


    }

    .resume-forms {

        .resume-form {
            margin-block: 38px;
            transition: .5s;

            .resume-title {
                display: flex;
                gap: 8px;
                flex-direction: column;
                position: relative;
                pointer-events: auto;
                padding-inline: 48px;
                width: 100%;
                cursor: pointer;

                h1 {
                    font-size: rem(24px);
                    font-weight: 800;
                }

                p {
                    color: $link-color;
                    font-size: rem(16px);
                    font-weight: 800;

                    span {
                        svg {
                            fill: $link-color;
                        }
                    }
                }

                .more-options {
                    display: none;
                    position: absolute;
                    right: 48px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .options-modal {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    right: 48px;
                    top: 48px;
                    z-index: 200;
                    background-color: white;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    padding: 8px;

                    .edit,
                    .remove,
                    .cancel-modal {
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        padding: 8px;

                        h3 {
                            font-size: rem(16px);
                            color: $primary-color;
                        }

                        @include hover {
                            background-color: darken(white, 8%);
                        }
                    }

                    .cancel-modal {
                        display: none;
                    }
                }

                .black-screen {
                    width: 100%;
                    height: 100vh;
                    background-color: rgba(0, 0, 0, 0.493);
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 50;
                }

                @include hover {
                    .more-options {
                        display: block;
                    }
                }
            }

            .resume-personal {
                padding-inline: 48px;
                padding-block-start: 24px;
                position: relative;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 24px;
                grid-template-areas:
                    'name name name file'
                    'job job job file'
                    'email email phone phone'
                    'address address address address'
                ;

                .file-label {
                    display: none;
                }

                .resume-input {
                    label {
                        font-weight: 600;
                    }

                    input {
                        background-color: $input-color;
                        height: 50px;
                        border: none;
                        border-radius: 0px;

                        &:focus {
                            box-shadow: none;
                        }
                    }

                    &.name-input {
                        grid-area: name;
                    }

                    &.job-input {
                        grid-area: job;
                    }

                    &.phone-input {
                        grid-area: phone;
                    }

                    &.address-input {
                        grid-area: address;
                    }

                    &.mail-input {
                        grid-area: email;
                    }

                    &.file-input {
                        grid-area: file;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: 24px;
                        right: 0px;
                        height: 148px;
                        background-color: $input-color;
                        // aspect-ratio: 1 / 1;

                        span {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            svg {
                                scale: 1.5;
                                fill: white;
                            }
                        }

                        input {
                            border-radius: 10em;
                            opacity: 0;
                        }
                    }
                }


            }

            .resume-education {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 24px;
                padding-inline: 48px;
                padding-block-start: 24px;

                .resume-input {
                    label {
                        font-weight: 600;
                    }

                    input {
                        background-color: $input-color;
                        height: 50px;
                        border: none;
                        border-radius: 0;

                        &:focus {
                            box-shadow: none;
                        }

                    }

                    &.resume-textarea {
                        grid-column: 1/-1;

                        textarea {
                            border-radius: 0px;
                            border: none;
                            background-color: $input-color;
                            resize: none;

                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }

                }
            }

            .resume-experience,
            .resume-military {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 24px;
                padding-inline: 48px;
                padding-block-start: 24px;

                .resume-input {
                    label {
                        font-weight: 600;
                    }

                    input {
                        background-color: $input-color;
                        height: 50px;
                        border: none;
                        border-radius: 0;

                        &:focus {
                            box-shadow: none;
                        }

                    }

                    &.date-input {
                        label {
                            margin-bottom: 0.5rem;
                        }

                        .vuejs3-datepicker {
                            width: 100%;

                            div {
                                #calendar-div {
                                    .vuejs3-datepicker__value {
                                        padding: 0px;
                                        height: 50px;
                                        width: 100%;
                                        border: none;
                                        border-radius: 0px;
                                        background-color: $input-color;
                                        display: flex;
                                        align-items: center;
                                        padding-inline-start: 18px;
                                    }
                                }
                            }

                            .vuejs3-datepicker__calendar {
                                .vuejs3-datepicker__calendar-topbar {
                                    background-color: $link-color;
                                }

                                .vuejs3-datepicker__calendar-actionarea {
                                    div {
                                        .cell {
                                            &.selected {
                                                background-color: $link-color;
                                            }
                                        }
                                    }

                                    span {
                                        &.cell {
                                            &.selected {
                                                background-color: $link-color;
                                            }

                                            @include hover {
                                                border: 1px solid $link-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }

            .resume-profile {
                padding-inline: 48px;
                padding-block-start: 24px;

                .resume-input {
                    &.resume-textarea {

                        label {
                            font-weight: 800;
                        }

                        textarea {
                            border: none;
                            border-radius: 0px;
                            background-color: $input-color;
                            resize: none;

                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }
                }
            }

            .resume-skills,
            .resume-languages {
                display: grid;
                grid-template-columns: 1fr;
                gap: 24px;
                padding-inline: 48px;
                padding-block-start: 24px;

                .resume-input {
                    label {
                        font-weight: 600;
                    }

                    input {
                        background-color: $input-color;
                        height: 50px;
                        border: none;
                        border-radius: 0;

                        &:focus {
                            box-shadow: none;
                        }

                    }

                    &.level-input {
                        width: 100%;

                        label {
                            margin-bottom: 0.5rem;
                        }

                        p {
                            font-size: rem(14px);
                            margin-bottom: 0.5rem;

                            span {
                                font-weight: 800;
                            }
                        }

                        .level-list {
                            display: flex;
                            gap: 12px;

                            .level-preview {
                                cursor: pointer;
                                background-color: $input-color;
                                flex-grow: 1;
                                height: 50px;

                                &.selected {
                                    background-color: $link-color;
                                }
                            }
                        }
                    }

                }

            }

            .resume-military {
                padding-block-start: 24px;

                .role-input {
                    grid-column: 1/-1;
                }
            }

            .add-info {
                padding-inline: 48px;
                padding-block-start: 24px;


                .resume-cmp-list {
                    display: flex;
                    gap: 12px;
                    flex-direction: column;

                    .resume-cmp-preview {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 50px;
                        border: 1px solid darken($input-color, 4%);
                        padding-inline: 12px;

                        div {
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            h3 {
                                font-size: rem(16px);
                                font-weight: 800;
                            }

                            h4 {
                                font-size: rem(16px);
                            }
                        }

                        .remove {
                            display: none;
                        }

                        @include hover {
                            opacity: .8;

                            .remove {
                                display: block;
                            }
                        }
                    }

                    >*:last-child {
                        margin-bottom: 12px;
                    }

                }

                .add-btn {
                    display: flex;
                    align-items: center;
                    height: 45px;
                    padding-inline: 16px;
                    background-color: $gray-color;

                    span {

                        svg {
                            width: 28px;
                            height: 28px;
                            scale: .8;
                            fill: $txt-color;
                        }
                    }

                    p {
                        font-weight: 800;
                        color: $txt-color;
                        padding-inline-end: 6px;
                    }
                }

                .close-btn {
                    margin-top: 12px;
                    cursor: pointer;
                    color: $link-color;
                    font-size: 1rem;
                    font-weight: 800;

                    span {
                        svg {
                            transform: rotate(180deg);
                            fill: $link-color;
                        }
                    }
                }
            }

            .remove-modal {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                z-index: 200;
                padding: 36px !important;
                width: 540px;
                height: 230px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .modal-header {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 6px;

                    h1 {
                        font-size: rem(22px);
                        font-weight: 800;
                    }
                }

                .actions {
                    display: flex;
                    justify-content: flex-end;
                    gap: 12px;

                    button {
                        width: 110px;
                        height: 50px;
                        font-weight: 800;

                        &.cancel-btn {
                            background-color: $link-color;
                            color: $txt-color;
                        }

                        &.remove-btn {
                            color: $primary-color;
                            border: 2px solid $gray-color;
                        }
                    }
                }

                .close-modal-btn {
                    cursor: pointer;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }

            }

            &.open {
                height: auto;

                .resume-title {
                    pointer-events: none;
                    background-color: transparent;


                    span {
                        svg {
                            display: none;
                        }
                    }
                }
            }


        }

    }

    .resume-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: white;
        height: 80px;
        padding-inline: 48px;
        position: sticky;
        bottom: 0px;

        .save {
            cursor: pointer;
            width: 140px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #656e83;
            border: 2px solid #656e83;

            span {

                svg {
                    fill: $primary-color;
                    scale: 1.2;
                }
            }

            .save-btn {
                font-weight: 800;
                color: $primary-color;
            }

            @include hover {
                box-shadow: 3px 3px white, 5px 5px $gray-color;
            }
        }

        .cancel {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 140px;

            button {
                color: $primary-color;
                font-weight: 800;
            }
        }
    }

    .add-section {

        padding-inline: 48px;

        .add-sect-cta {
            .add-sect-btn {
                display: flex;
                gap: 8px;
                align-items: center;
                justify-content: center;
                width: 220px;
                height: 50px;
                color: $gray-color;
                border: 2px solid $gray-color;
                z-index: 50;

                p {
                    color: $primary-color;
                    font-weight: 800;
                }

                span {
                    svg {
                        scale: 1.4;
                        fill: $primary-color;
                    }
                }

                @include hover {
                    box-shadow: 3px 3px white, 5px 5px $gray-color;
                }

            }
        }

        .modal-container {

            .add-sect-modal {
                padding-block: 40px;
                border-radius: 1em;


                .modal-content-list {
                    display: grid;
                    gap: 18px;
                    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

                    .modal-content-preview {
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-inline: 18px;
                        padding-block: 24px;
                        background-color: $input-color;
                        height: 120px;
                        transition: .2s;

                        .preview-header {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            p {
                                font-weight: 800;
                            }

                            span {
                                svg {
                                    fill: $primary-color;
                                }
                            }
                        }

                        .preview-desc {
                            p {
                                margin-top: 6px;
                                line-height: 1.2;
                                color: lighten(black, 45%);
                            }
                        }

                        &:hover {
                            scale: 1.02;
                        }
                    }
                }

            }


        }

    }

    @include for-middle-layout {
        flex-basis: 100%;


        .add-section {
            padding: 0;
        }
    }

    @include for-narrow-layout {
        padding-block-end: 48px;
        padding-inline: 12px;

        .resume-header {
            justify-content: center;
            padding-inline: 0;

            .download {
                display: none;
            }
        }

        .resume-forms {

            .resume-form {
                padding-block-end: 0;
                margin-block-end: 0;

                .resume-title {
                    padding-inline: 0;

                    .more-options {
                        right: 0px;

                    }

                    .options-modal {
                        right: 0px;
                    }
                }

                >* {
                    padding-inline: 0 !important;
                }

                .resume-personal {
                    display: flex;
                    flex-direction: column;
                    grid-template-columns: 1fr;
                    gap: 0px;

                    .file-label {
                        display: block;
                        font-size: rem(16px);
                        font-weight: 800;
                    }

                    .resume-input {
                        margin-bottom: 24px;

                        &.file-input {
                            top: 8px;
                            display: flex;
                            position: relative;
                            height: 80px;
                            width: 80px;

                        }
                    }
                }

                .resume-education,
                .resume-experience,
                .resume-military {
                    grid-template-columns: 1fr;
                }

                .remove-modal {
                    width: 95%;
                }
            }
        }

        .resume-main-title {
            padding: 0;
        }

        .progress-bar-container {
            padding: 0;
        }


        .resume-footer {
            padding: 0;
            justify-content: space-between;

            margin-bottom: 48px;

            >* {
                flex-basis: 45%;
            }
        }

        .add-section {
            .add-sect-cta {
                .add-sect-btn {
                    width: 100%;
                }
            }
        }
    }

    @include for-mobile-layout {
        .resume-header {
            height: 80px;
        }

        .resume-footer {
            bottom: 12px;
        }

        .resume-forms {
            padding-bottom: 48px;

            .resume-form {
                .resume-title {
                    .more-options {
                        display: block;
                    }

                    .options-modal {
                        width: 100%;
                        position: fixed;
                        bottom: 0px;
                        top: unset;

                        .edit,
                        .remove,
                        .cancel-modal {
                            padding-block: 18px;
                        }

                        .cancel-modal {
                            display: block;
                            text-align: center;
                            background-color: $link-color;

                            h3 {
                                color: $txt-color;
                            }
                        }

                    }


                }

                .remove-modal {
                    padding-inline: 16px !important;
                    padding-block: 24px !important;
                    height: 180px;

                    .actions {
                        justify-content: space-between;

                        button {
                            width: 45%;
                        }
                    }
                }

                .add-info {
                    .resume-cmp-list {
                        .resume-cmp-preview {
                            .remove {
                                display: block;
                            }
                        }
                    }
                }
            }

            &.open {
                padding-bottom: 0px;
            }
        }
    }
}