.resume-customize {
    padding-inline: 48px;
    margin-bottom: 24px;

    .resume-layout {
        margin-block: 24px;

        .title {
            margin-bottom: 12px;

            h1 {
                font-size: rem(24px);
                font-weight: 800;
            }
        }

        .arrange-layout {
            .sub-title {
                margin-bottom: 8px;

                h2 {
                    font-size: rem(16px);
                    font-weight: 800;
                }
            }

            .component-list {
                padding-top: 12px;
                display: flex;
                flex-direction: column;

                .component-preview {
                    height: 62px;
                }
            }


        }
    }

    .resume-heading {
        margin-block: 24px;

        .title {
            margin-bottom: 12px;

            h1 {
                font-size: rem(24px);
                font-weight: 800;
            }
        }

        .heading-style {
            margin-bottom: 24px;

            .sub-title {
                h2 {
                    font-size: rem(16px);
                    font-weight: 800;
                }
            }

            .style-options {
                margin-block-start: 8px;
                display: flex;
                justify-content: space-between;

                .option {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-basis: 24%;
                    height: 45px;
                    border: 1px solid $primary-color;

                    .shape {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 4px;
                        padding-inline: 10%;
                        width: 100%;

                        * {
                            background-color: $primary-color;
                        }

                        .fill-rect {
                            height: 8px;
                            width: 50%;
                        }

                        .rect {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            background-color: transparent;
                            border: 2px solid $primary-color;
                            padding-block: 4px;


                            .fill-rect {
                                width: 50%;

                            }
                        }

                        .short-line {
                            width: 50%;
                            height: 2px;
                        }

                        .long-line {
                            width: 100%;
                            height: 2px;
                        }

                        &.center {
                            align-items: center;
                        }
                    }

                    &.selected {
                        border: 1px solid $gray-color;
                        background-color: $gray-color;

                        .shape {

                            .fill-rect,
                            .short-line,
                            .long-line {
                                background-color: $txt-color;
                            }

                            .rect {
                                border: 2px solid $txt-color
                            }
                        }
                    }
                }
            }
        }

        .heading-capitalize {
            .sub-title {
                h2 {
                    font-size: rem(16px);
                    font-weight: 800;
                }
            }

            .capitalize-options {
                margin-block-start: 8px;
                display: flex;
                gap: 12px;

                .option {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $primary-color;
                    width: 30%;
                    height: 40px;
                    font-size: rem(14px);

                    &.selected {
                        background-color: $gray-color;
                        color: $txt-color;
                        border: 1px solid $gray-color;
                    }
                }
            }
        }

        .heading-color {
            margin-block: 24px;

            .sub-title {
                h2 {
                    font-size: rem(16px);
                    font-weight: 800;
                }
            }

            .color-picker {
                margin-block-start: 8px;

                .color-list {
                    display: flex;
                    gap: 8px;
                    flex-wrap: wrap;

                    .color-preview {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        height: 40px;
                        width: 40px;
                        border-radius: 2em;

                        .checkmark {
                            svg {
                                scale: 1.3;

                                path {
                                    stroke: $txt-color;
                                }
                            }
                        }

                        &.empty {
                            border: 1px solid $gray-color;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;

                            .line {
                                width: 1px;
                                height: 100%;
                                background-color: $gray-color;
                                transform: rotate(45deg);
                            }
                        }

                        &.rainbow {
                            position: relative;
                            background: conic-gradient(from 90deg, violet, indigo, blue, green, yellow, orange, red, violet);

                            input {
                                opacity: 0;
                                cursor: pointer;
                                position: absolute;
                                display: flex;
                                justify-content: flex-start;
                                width: 100%;
                                height: 100%;
                                border-radius: 2em;
                            }
                        }
                    }
                }

            }
        }
    }

    .resume-customize-skills,
    .resume-customize-languages {

        .skills-title,
        .languages-title {
            font-size: rem(24px);
            margin-bottom: 12px;
            margin-top: 36px;
            font-weight: 800;
        }

        .options {
            display: flex;
            align-items: center;
            gap: 12px;

            .option {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $primary-color;
                width: 30%;
                height: 40px;
                font-size: rem(14px);
                text-transform: capitalize;

                &.selected {
                    background-color: $gray-color;
                    color: $txt-color;
                    border: 1px solid $gray-color;
                }
            }
        }
    }

    @include for-narrow-layout {
        padding-inline: 0;
        margin-block-end: 48px;
    }

    @include for-mobile-layout {
        .resume-heading {
            .heading-style {
                .style-options {
                    flex-wrap: wrap;
                    gap: 12px;

                    .option {
                        flex-basis: 48%;
                    }
                }
            }

            .heading-capitalize {
                .capitalize-options {
                    .option {
                        flex-basis: 48%;
                    }
                }
            }
        }

        .resume-customize-skills,
        .resume-customize-languages {

            .options {
                justify-content: space-between;
                .option {
                    flex-basis: 48%;
                }
            }
        }
    }
}

// Out of tree for the drag and drop
.component-item {
    display: flex;
    align-items: center;
    cursor: grab;
    // margin-block: 12px;
    border: 1px solid darken($input-color, 6%);
    padding: 12px;

    span {
        &:first-of-type {
            margin-inline-end: 10px;
        }
    }

    h3 {
        font-size: rem(16px);
        font-weight: 800;
        padding-inline-start: 10px;
        text-transform: capitalize;
    }

    .mobile-drag {
        display: none;
    }


    &.disabled {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        padding-block: 36px;
        cursor: auto;
    }

    @include for-mobile-layout {
        .mobile-drag {
            display: block;

            span {
                margin-inline-end: 4px;
            }
        }

        .desktop-drag {
            display: none;

        }
    }
}