.resume-customize {
    padding-inline: 48px;


    .resume-layout {
        margin-block: 24px;

        .title {
            margin-bottom: 12px;

            h1 {
                font-size: rem(24px);
                font-weight: 800;
            }
        }

        .arrange-layout {
            .sub-title {
                h2 {
                    font-size: rem(16px);
                    font-weight: 800;
                }
            }


        }
    }
}

// Out of tree for the drag and drop
.component-item {
    display: flex;
    align-items: center;
    cursor: grab;
    margin-block: 12px;
    border: 1px solid darken($input-color, 6%);
    padding: 12px;

    span {
        &:first-of-type {
            margin-inline-end: 14px;
        }
    }

    h3 {
        font-size: rem(16px);
        font-weight: 800;
        padding-inline-start: 10px;
        text-transform: capitalize;
    }


    &.disabled {
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        padding-block: 36px;
        cursor: auto;
    }
}