.user-msg {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: rgb(36, 173, 98);
    height: 60px;
    z-index: 500;
    padding-inline: 18px;
    display: flex;
    align-items: center;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0;
    transition: .6s ease-in-out;
    pointer-events: none;

    p {
        font-size: rem(18px);
        color: $txt-color;
        font-weight: 800;
    }

    &.show {
        opacity: 1;
    }




}