/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (max-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (max-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

@mixin btn-colorful {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: #ec008c;
    --tw-gradient-to: rgb(236 0 140 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #fc6767;
}