/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (max-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (max-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}