// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// Backgrounds
$tw-bg-opacity: 1;
$bg-color-modal: rgb(255 255 calc(255 / $tw-bg-opacity));

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1400px;

// Inner breakpoints
$inner-mobile-breakpoint: 460px;
$inner-narrow-breakpoint: 720px;
$inner-normal-breakpoint: 960px;
$inner-wide-breakpoint: 1000px;

// Padding
$desktop-padding: 24px;

// Modal
$modal-z-index: 20;
$modal-overlay-z-index: 10;
$modal-border-radius: 20px;
$modal-width: 500px;
