// Colors
$tw-bg-opacity: 1;
$bg-color-modal: rgb(255 255 calc(255 / $tw-bg-opacity));
$bg-color: #f3f4f6;

$primary-color: #142850;
$secondary-color: #27496D;
$txt-color: #f5eeee;
$txt-color-secondary: #161515;
$brand-color: #ec008c;
$secondary-brand-color: #fc6767;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 860px;
$middle-breakpoint: 1080px;
$normal-breakpoint: 1440px;
$wide-breakpoint: 1800px;

// Inner breakpoints
$inner-mobile-breakpoint: 460px;
$inner-narrow-breakpoint: 720px;
$inner-normal-breakpoint: 960px;
$inner-wide-breakpoint: 1000px;

// Padding
$desktop-padding: 24px;

// Modal
$modal-z-index: 20;
$modal-overlay-z-index: 10;
$modal-border-radius: 20px;
$modal-width: 500px;