.home-page {

	.home-header {
		padding-inline-start: 48px;
		display: flex;
		align-items: center;
		height: 10vh;
		position: sticky;
		background-color: $bg-color;
		top: 0px;
		z-index: 50;

		.header-wrapper {
			margin: auto;
			display: flex;
			align-items: center;
			// justify-content: center;
			width: 100%;

			.logo {
				display: flex;
				gap: 6px;
				align-items: center;

				img {
					height: 4vh;
				}

				// gap: 6px;
				.logo-title {
					font-size: rem(28px);
					font-weight: 800;
					color: $primary-color;
				}
			}

			.login-btn {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 45px;
				width: 180px;
				@include btn($link-color, darken($link-color, 8%));



				p {
					display: flex;
					gap: 12px;
					justify-content: center;
					align-items: center;
					font-size: rem(16px);
					letter-spacing: 1px;
					color: $txt-color;
					text-transform: uppercase;
				}

				@include hover {
					box-shadow: none;
					opacity: .8;
				}

			}
		}
	}

	.home-content {
		padding-top: 24px;
		width: 100%;
		justify-content: space-between;
		display: grid;
		column-gap: 48px;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'text img'
			'resumes img';

		.home-text {
			grid-area: text;
			padding-block-start: 48px;

			h1 {
				padding-inline-start: 48px;
				margin-inline-end: 72px;
				line-height: 1;
				font-size: rem(72px);
				font-weight: 300;
				margin-bottom: 16px;
				text-transform: uppercase;
				color: $primary-color;

				span {
					color: $link-color;
				}
			}

			p {
				padding-inline: 48px;
				width: fit-content;
				font-size: rem(24px);
				font-weight: 300;
				background-image: linear-gradient(to right, $link-color, darken($link-color, 8%));
				color: $txt-color;
				padding-block: 16px;
				line-height: 1.2;
			}

		}

		.home-hero {
			grid-area: img;
			padding-block-start: 48px;
			margin: auto;
			display: flex;
			gap: rem(72px);
			align-items: center;
			justify-content: space-between;



			.hero-img {
				position: relative;

				img {
					width: 100%;
					height: 70vh;
					object-fit: cover;
				}
			}
		}

		.resume-list-container {
			padding-inline-start: 48px;
			margin-inline-end: 72px;
			grid-area: resumes;
			margin-top: auto;


			.resume-list-header {

				h2 {
					font-weight: 700;
					font-size: rem(36px);
					margin-bottom: 12px;
				}

				p {
					font-size: rem(18px);
					margin-bottom: 24px;
				}
			}

			.resume-list {
				display: flex;
				gap: 24px;
				overflow-x: auto;
				max-width: 50vw;

				&.overflow {
					padding-bottom: 15px;
				}

				::-webkit-scrollbar {
					display: block;
				}

				.resume-preview-add,
				.resume-preview {
					cursor: pointer;
					display: flex;
					align-items: center;
					position: relative;
					height: 184px;
					width: 184px;
					padding-inline: 24px;
					text-align: center;
					aspect-ratio: 1 /1;

					.resume-info {
						display: flex;
						gap: 12px;
						align-items: center;

						.remove {
							display: none;
							position: absolute;
							top: 12px;
							right: 12px;
							fill: white;

							@include hover {
								svg {
									transform: rotate(10deg);
								}
							}
						}

						.resume-title {
							font-size: rem(24px);
							font-weight: 600;
							color: $txt-color;
						}
					}

				}

				.resume-preview {
					font-weight: 500;
					color: $txt-color;
					font-size: rem(28px);
					justify-content: center;

					@include btn($link-color, darken($link-color, 8%));

					@include hover {
						box-shadow: none;

						.resume-info {
							.remove {
								display: block;
							}
						}

					}

				}

				.resume-preview-add {
					z-index: 50;
					justify-content: center;
					border: 1px dashed $link-color;

					.resume-icon {
						svg {
							scale: 2;
							fill: $link-color;
						}
					}

					.resume-info {
						display: flex;
						flex-direction: column;

						.resume-title {
							color: $link-color;
						}
					}

					@include hover {
						opacity: .9;
					}
				}
			}
		}

	}

	@include for-narrow-layout {
		.home-content {
			padding: 0;
			grid-template-columns: 1fr;
			grid-template-areas:
				'img'
				'text'
				'resumes';

			.home-hero {
				padding: 0;
				width: 100%;

				.hero-img {
					width: 100%;

					.rect {
						display: none;
					}

					img {
						height: 40vh;
					}
				}
			}

			.resume-list-container {
				padding-block: 48px;

				.resume-list {
					max-width: 85vw;
					overflow-x: auto;
				}
			}

		}
	}

	@include for-mobile-layout {

		.home-header {
			padding: 12px;

			.header-wrapper {
				.login {
					.login-btn {
						width: 120px;
					}
				}
			}
		}

		.home-content {
			.home-text {
				h1 {
					padding-inline: 12px;
				}

				p {
					padding-inline: 12px;
					width: 100%;
				}
			}

			.resume-list-container {
				margin: 0;
				padding-inline: 12px;

				.resume-list {
					max-width: 100%;
					flex-direction: column;

					.resume-preview,
					.resume-preview-add {
						width: 100%;
						height: 80px;
					}

					.resume-preview-add {
						justify-content: flex-start;

						.resume-info {
							flex-direction: row;
						}
					}

					.resume-preview {
						justify-content: space-between;

						.resume-info {
							.remove {
								display: block;
								top: 50%;
								transform: translateY(-50%);
								right: 24px;
							}
						}
					}
				}
			}
		}
	}

}