.login-page {
	.login-header {
		display: flex;
		width: 100%;
		padding: 2rem 2rem 0 2rem;

		.logo {
			svg {
				width: 145px;
				opacity: 0.8;
			}
		}
	}

	.login-container {
		display: flex;
		flex-direction: column;

        margin: auto;
        max-width: min(90vw, 500px);
        padding: 2rem;
        gap: 3rem;

        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: $bg-color-modal;
        
        text-align: center;
		
		
		input {
			outline: none;
			border: none;
			border-radius: none;
			border-bottom: 2px solid rgb(229, 231, 235);
			
			&::placeholder {
				// color: rgb(229, 231, 235);
				// color: none;
			}
		}
	}
}
