.resume-app-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;

    .a4-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
        height: 100%;
        background-color: $gray-color;
        padding: 48px;

        .a4-resume {
            background-color: white;
            aspect-ratio: 1 / 1.414;
            height: 45vw;
            position: relative;
        }
    }

}