.template-no1 {
    padding: 48px;
    transform-origin: top left;
    position: absolute;
    height: 100%;
    aspect-ratio: 1 / 1.414;
    color: black;

    .personal-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        .contact {

            .personal-title {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                flex-grow: 1;
                margin-bottom: 16px;

                h1 {
                    line-height: 1;
                    font-size: rem(28px);
                    font-weight: 800;
                    margin-inline-end: 12px;
                }

                h2 {
                    line-height: 1;
                    position: relative;
                    top: 2px;
                    font-size: rem(18px);
                    font-style: italic;
                }
            }

            .contact-item {
                position: relative;
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 10px;

                img {
                    width: 15px;
                }

                p {
                    font-size: rem(14px);
                    pointer-events: none;
                }

                a {
                    z-index: 50;
                    // left: 0;
                    // opacity: 0;
                }
            }
        }

        .img {
            height: 100%;

            img {
                border-radius: 5em;
                aspect-ratio: 1 / 1;
                max-height: 125px;
                object-fit: cover;
            }
        }

    }

    .template-sections {
        display: flex;
        flex-direction: column;

        .education-info,
        .experience-info,
        .military-info {
            padding-block: 4px;

            .education-list,
            .experience-list {
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding-block: 8px;

                .education-preview,
                .experience-preview {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .education-degree,
                    .experience-job {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 6px;

                        h2 {
                            font-size: rem(16px);
                            font-weight: 800;
                        }

                        h3 {
                            font-size: rem(14px);
                            line-height: 1;
                        }
                    }

                    .education-location,
                    .experience-location {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 4px;

                        h2 {
                            font-size: rem(14px);
                        }

                        h3 {
                            font-size: rem(14px);
                        }
                    }

                    .education-desc,
                    .experience-date {
                        font-size: rem(14px);
                    }
                }
            }
        }

        .profile-info {
            padding-block: 4px;

            .education-about-txt {
                padding-block: 8px;


                p {
                    font-size: rem(16px);
                    line-height: 1.2;
                }
            }
        }

        .skills-info,
        .languages-info {
            padding-block: 4px;

            .skill-list,
            .language-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-block: 8px;

                .skill-preview,
                .language-preview {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-basis: 45%;

                    h2 {
                        font-size: rem(16px);
                        font-weight: 800;
                    }

                    .indication {
                        display: flex;

                        .level-indication {
                            height: 8px;
                            width: 8px;
                            border-radius: 2em;
                            margin-inline-end: 6px;
                            background-color: darken($input-color, 6%);

                            &.active {
                                background-color: $primary-color;
                            }
                        }

                    }
                }

                &.bubble {
                    justify-content: unset;
                    gap: 12px;

                    .skill-preview,
                    .language-preview {
                        flex-basis: unset;
                        padding-inline: 8px;
                        padding-block: 4px;
                        border: 1px solid black;

                        .indication {
                            display: none;
                        }
                    }
                }
            }
        }

        .military-info {
            display: flex;
            flex-direction: column;
            gap: 6px;

            h2 {
                font-size: rem(16px);
                font-weight: 800;
            }

            p {
                font-size: rem(14px);

            }
        }

    }

    .title {
        height: 30px;
        border-bottom: 2px solid $primary-color;
        text-transform: capitalize;

        h1 {
            font-size: rem(20px);
            font-weight: 800;
        }

        &.uppercase {
            text-transform: uppercase;
        }

        &.center {
            text-align: center;
            // background-color: $primary-color;
            color: $txt-color;
            border: none;

            h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }

        &.normal {
            border-bottom: none;
        }

        &.bordered {
            text-align: center;
            border-top: 2px solid $primary-color;
        }
    }

    @include for-middle-layout {
        height: unset;
    }
}