.template-no1 {
    padding: 2vw;

    .personal-info {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .title {
            display: flex;
            gap: 12px;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 8px;
            transform-origin: top left;

            h1 {
                font-size: rem(28px);
                font-weight: 800;
            }

            h2 {
                position: relative;
                top: 2px;
                font-size: rem(18px);
                font-style: italic;
            }
        }

        .img {

            transform-origin: top right;

            img {
                border-radius: 5em;
                aspect-ratio: 1 / 1;
                height: 60px;
                width: 60px;
                object-fit: cover;
            }
        }

    }


    .contact {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .contact-item {
            display: flex;
            align-items: center;
            gap: 6px;

            img {
                width: 15px;
            }

            p {
                font-size: rem(13px);
            }
        }
    }
}