* {
	box-sizing: border-box;
}

body {
	line-height: 1;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: $bg-color;
	color: $primary-color;
	letter-spacing: 0.01px;

	&.dragging {
		* {
			cursor: grabbing !important;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;

	@include hover {
		color: inherit;
	}
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

button {
	border: none;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
}

::selection {
	background-color: $brand-color;
	color: white;
}

::-webkit-scrollbar {
	display: none;
}