html {
	@include for-middle-layout {
		font-size: 14px;
	}
}

* {
	box-sizing: border-box;
}

body {
	line-height: 1;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	background-color: $bg-color;
	color: $primary-color;
	overflow-x: hidden;

	&.dragging {
		* {
			cursor: grabbing !important;
		}
	}

	&.no-overflow {
		height: 100%;
		overflow-y: hidden;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;

	@include hover {
		color: inherit;
	}
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

input {
	@include for-mobile-layout {
		font-size: 16px !important;
	}
}

button {
	border: none;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
}

::selection {
	background-color: $primary-color;
	color: white;
}

::-webkit-scrollbar {
	height: 0.8em;

	@include for-mobile-layout {
		display: none;
	}
}

::-webkit-scrollbar-thumb {
	background-color: darkgrey;
}